<div>
    <div class="text-center  text-[24px] sm:text-[32px] mt-[80px] mb-[50px]">Contact</div>
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-4 m-[10%] mr-0 mt-10 mb-0">
        <div class="col-span-2  text-center lg:text-left lg:ml-[0] lg:mt-[260px]">
            <div class="text-[32px] hidden lg:block">
                Get In Touch
            </div>
            <p class="leading-[3]">+91 9488816290</p>

            <p>2, Sree Narayana Guru Rd,<br> Mission Road, Saibaba Koil,<br> Coimbatore,<br> Tamil Nadu, 641011</p>
            <p class="leading-[3]">theiyalatelier&#64;gmail.com</p>

            <button
                type="button"
                (click)="openDirections()"
                class="mt-6 inline-flex items-center justify-center rounded-full bg-black px-6 py-3 text-sm font-medium text-white shadow-sm transition hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2"
            >
                Get directions
            </button>
        </div>
        <div class="col-span-3">
            <div
                leaflet
                [leafletOptions]="options"
                [leafletLayers]="layers"
                style="height: 400px; width: 110%;margin-top: 100px;"
            ></div>
            <div class="d-flex">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>