<div>
    <div class="text-center  text-[24px] sm:text-[32px] mt-[80px] mb-[50px]">Contact</div>
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-4 m-[10%] mr-0 mt-10 mb-0">
        <div class="col-span-2  text-center lg:text-left lg:ml-[0] lg:mt-[260px]">
    <div class="text-[32px] hidden lg:block">
        Get In Touch
    </div>
    <p class="leading-[3]">+91 9488816290</p>
        
    <p >4/1277, Mogappair West Main Rd,<br> 4th Block, Mogappair West, <br>Ambattur Industrial Estate, <br> Chennai, <br>Tamil Nadu 600037</p>
    <p class="leading-[3]">theiyalatelier&#64;gmail.com</p>
    
        </div>
        <div class="col-span-3">
            <div
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="layers"
            style="height: 400px; width: 110%;margin-top: 100px;"
          ></div>
          <div class="d-flex">
    <div></div>
    <div></div>
          </div>
        </div>
    </div>
</div>